<div class="card-container">
    <app-top-cards *ngFor="let stat of stats" [title]="stat.title" [value]="stat.value" [icon]="stat.icon"
        [isImage]="stat.isImage"></app-top-cards>
</div>


<app-form-user (posteoFormulario)="guardar($event)"></app-form-user>


<table mat-table [dataSource]="user" class="mat-elevation-z8">

    <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name +' '+element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="Identificacion">
        <th mat-header-cell *matHeaderCellDef> Identificación </th>
        <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <!-- <button mat-button color="primary" (click)="actualizar(element)">Actualizar</button> -->
            <button mat-button color="primary" routerLink="update/{{element.id_user}}">Actualizar</button> 
            <button mat-button color="warn" (click)="deleteUser(element.id_user)">Borrar</button>
             
            <!-- <button mat-button color="warn">Borrar</button>  -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>