
<!-- Contenedor principal -->
<div class="d-flex">

  <!-- Sidebar fija -->
  <div class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
    <h4>BlibioSystem</h4>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link text-white active" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Ventas</a>
      </li>
      <!-- Agrega más ítems aquí -->
    </ul>
  </div>

  <!-- Contenido principal -->
  <!-- <div class="p-4 flex-grow-1">
    <h1>Bienvenido al Panel</h1>
    <p>Contenido principal aquí.</p>
  </div> -->

</div>


<router-outlet />
